{% extends "layout-base.twig" %}
{% block head %}
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Data User - Free Dashboard for Bootstrap 4</title>
{% endblock %}
{% block usermenuleft %}
  <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{ ((avatar)? avatar: site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <a href="{{ site_url ~ path_for('/my-profile') }}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ site_url ~ path_for('/logout') }}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
{% endblock %}
{% block usermenuright %}
  <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{ ((avatar)? avatar: site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{username}}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <a href="{{ site_url ~ path_for('/my-profile') }}" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="./examples/profile.html" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="{{ site_url ~ path_for('/logout') }}" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
{% endblock %}
{% block menu %}
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/icons.html">
              <i class="ni ni-planet text-blue"></i> Icons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/maps.html">
              <i class="ni ni-pin-3 text-orange"></i> Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/profile.html">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/tables.html">
              <i class="ni ni-bullet-list-67 text-red"></i> Tables
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/login.html">
              <i class="ni ni-key-25 text-info"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/register.html">
              <i class="ni ni-circle-08 text-pink"></i> Register
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">Documentation</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html">
              <i class="ni ni-spaceship"></i> Getting started
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html">
              <i class="ni ni-palette"></i> Foundation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html">
              <i class="ni ni-ui-04"></i> Components
            </a>
          </li>
        </ul>
{% endblock %}
{% block main_title %}
  <!-- Brand -->
  <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{{currentPath}}">Data User</a>
{% endblock %}
{% block content_body %}
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Data User</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="example" class="table align-items-center table-flush" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="not-export-col">Avatar</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created</th>
                  <th scope="col">Updated</th>
                  <th scope="col">Updated by</th>
                  <th scope="col" class="not-export-col"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
{% block appjs %}
  getScript('{{ site_url ~ path_for('/') }}assets/vendor/chart.js/dist/Chart.min.js',function(){
    getScript('{{ site_url ~ path_for('/') }}assets/vendor/chart.js/dist/Chart.extension.js',function(){
      getScript('{{ site_url ~ path_for('/') }}assets/js/argon.js?v={{ global.app.version }}',function(){
        getScript('{{ site_url ~ path_for('/') }}assets/vendor/datatables/datatables.min.js',function(){
          var selectCol = [ 0, 1, 2, 3, 4, 5 , 6 ];
          var table = $('#example').DataTable({
            dom: "Brftlpi",
            responsive: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            pageLength: 10,
            language: {
              lengthMenu: 'Show _MENU_',
              info: 'Display _START_ - _END_ of _TOTAL_ records',
              infoEmpty: '',
              paginate: {
                previous: '<i class="fas fa-chevron-left"></i>',
                next: '<i class="fas fa-chevron-right"></i>'
              }
            },
            ajax: {
              url: "{{path_for('/user/data/api/json/datatables') }}",
              type: "POST",
              error: function(xhr, error, thrown){
                console.log(xhr.responseText);
              }
            },
            columns: [
              { 
                render: function(data,type,row,meta) { 
                  var pic = ($$validate.isNotEmpty(row.avatar)?row.avatar:"{{ site_url ~ path_for('/') }}assets/img/theme/face-0.jpg");
                  var a = '<div class="media align-items-center">\
                        <a href="#" class="avatar rounded-circle mr-3">\
                          <img alt="Image placeholder" src="'+pic+'">\
                        </a>\
                      </div>';
                  return a;
                } 
              },
              { data: "username" },
              { data: "email" },
              { 
                render: function(data,type,row,meta) {
                  if(row.status == 'active'){
                    return '<span class="badge badge-dot mr-4"><i class="bg-success"></i> active</span>';
                  } else {
                    return '<span class="badge badge-dot mr-4"><i class="bg-danger"></i> suspended</span>';
                  }
                }
              },
              { data: "created_at" },
              { 
                render: function(data,type,row,meta) {
                  if(row.updated_at != false){
                    return row.updated_at;
                  } else {
                    return '';
                  }
                }
              },
              { 
                render: function(data,type,row,meta) {
                  if(row.updated_by != false){
                    return row.updated_by;
                  } else {
                    return '';
                  }
                }
              },
              { 
                className: 'text-right', render: function(data,type,row,meta) {
                  return '<div class="dropdown">\
                        <a class="btn btn-sm btn-icon-only text-primary bg-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                          <i class="fas fa-ellipsis-v"></i>\
                        </a>\
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">\
                          <a class="dropdown-item" href="#">Edit User</a>\
                          <a class="dropdown-item" href="#">Edit Role</a>\
                        </div>\
                      </div>';
                }
              }
            ],
            buttons: [
              {
                extend: "copy",
                text: "<i class=\"fas fa-copy\"></i> Copy",
                className: "bg-primary text-white",
                exportOptions: {
                  columns: ':visible:not(.not-export-col)'
                }
              }, {
                extend: "csv",
                text: "<i class=\"fas fa-file\"></i> CSV",
                className: "bg-primary text-white",
                exportOptions: {
                  columns: ':visible:not(.not-export-col)'
                }
              }, {
                extend: "excel",
                text: "<i class=\"fas fa-file-excel\"></i> Excel",
                className: "bg-primary text-white",
                exportOptions: {
                  columns: ':visible:not(.not-export-col)'
                }
              }, {
                extend: "pdf",
                text: "<i class=\"fas fa-file-pdf\"></i> PDF",
                className: "bg-primary text-white",
                exportOptions: {
                  columns: ':visible:not(.not-export-col)'
                }
              }, {
                extend: "print",
                text: "<i class=\"fas fa-print\"></i> Print",
                className: "bg-primary text-white",
                exportOptions: {
                  columns: ':visible:not(.not-export-col)'
                }
              }, {
                extend: 'colvis',
                text: "Hide/Show",
                className: "bg-primary text-white",
                columns: selectCol
              }
            ]
          });

          $('div.dataTables_length').addClass('float-left');
          $('div.dataTables_info').addClass('text-center');
          $("div.dataTables_filter input").unbind();
          $("div.dataTables_filter input").keyup($$app.throttle( function (e) {
            table.search( this.value ).draw();
          },2000));

        });
      });
    });
  });
  getStyle('{{ site_url ~ path_for('/') }}assets/vendor/datatables/datatables.min.css');
{% endblock %}