{% extends "base.twig" %}
{% block sidenav %}
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="{{ path_for('/')}}">
        <img src="{{ site_url ~ path_for('/') }}assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
      {% block usermenuleft %}{% endblock %}
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{{currentPath}}">
                <img src="{{ site_url ~ path_for('/') }}assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        {% block menu %}{% endblock %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block main_content %}
    <!-- Main content -->
  <div class="main-content headroom">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        {% block main_title %}{% endblock %}
        {% block usermenuright %}{% endblock %}
      </div>
    </nav>
    <!-- Header -->
    {% block pageheader %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      {% block content_header %}{% endblock %}
    </div>
    {% endblock %}
    {% block pagecontent %}
    <!-- Page content -->
    <div class="container-fluid mt--9">
      {% block content_body %}{% endblock %}
      {% block content_footer %}
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      {% endblock %}
    </div>
    {% endblock %}
  </div>
{% endblock %}

{% block stylejs %}
  getStyle('{{ site_url ~ path_for('/') }}assets/css/argon.css?v={{ global.app.version }}',function(){
    getStyle('{{ site_url ~ path_for('/') }}assets/vendor/nucleo/css/nucleo.css',function(){
      getStyle('{{ site_url ~ path_for('/') }}assets/vendor/@fortawesome/fontawesome-free/css/all.min.css',function(){
        getScript('{{ site_url ~ path_for('/') }}assets/vendor/webfontloader/webfont.min.js',function(){
		      WebFont.load({google: {families: ['Open+Sans:300,400,600,700']}});
      		var element = document.getElementById('preloader');
      		element.parentNode.removeChild(element);
		  	})
      })
    })
  })
{% endblock %}