{% extends "layout-base.twig" %}
{% block head %}
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Edit Profile - Free Dashboard for Bootstrap 4</title>
{% endblock %}
{% block usermenuleft %}
  <!-- User -->
      <ul class="nav align-items-center d-md-none">
        
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{ ((session_get('avatar'))? session_get('avatar'): site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <a href="{{ site_url ~ path_for('/my-profile') }}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="{{ site_url ~ path_for('/change-password') }}" class="dropdown-item">
              <i class="fas fa-key"></i>
              <span>Change Password</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ site_url ~ path_for('/logout') }}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
{% endblock %}
{% block usermenuright %}
  <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{ ((session_get('avatar'))? session_get('avatar'): site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{ session_get('username') }}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <a href="{{ site_url ~ path_for('/my-profile') }}" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="{{ site_url ~ path_for('/change-password') }}" class="dropdown-item">
                <i class="fas fa-key"></i>
                <span>Change Password</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="{{ site_url ~ path_for('/logout') }}" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
{% endblock %}
{% block menu %}
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/icons.html">
              <i class="ni ni-planet text-blue"></i> Icons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/maps.html">
              <i class="ni ni-pin-3 text-orange"></i> Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/profile.html">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/tables.html">
              <i class="ni ni-bullet-list-67 text-red"></i> Tables
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/login.html">
              <i class="ni ni-key-25 text-info"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/register.html">
              <i class="ni ni-circle-08 text-pink"></i> Register
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">Documentation</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html">
              <i class="ni ni-spaceship"></i> Getting started
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html">
              <i class="ni ni-palette"></i> Foundation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html">
              <i class="ni ni-ui-04"></i> Components
            </a>
          </li>
        </ul>
{% endblock %}
{% block main_title %}
  <!-- Brand -->
  <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{{currentPath}}">Profile</a>
{% endblock %}
{% block pageheader %}
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({{ ((result.background_image)? result.background_image: site_url ~ path_for('/') ~ 'assets/img/theme/profile-cover.jpg') }}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-1"></span>
  </div>
{% endblock %}
{% block content_body %}
  <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ ((result.avatar)? result.avatar: site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-end">
                <a href="mailto:{{result.email}}" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4 mt-md-5">
              <div class="text-center">
                <h3>
                  {{result.username}}<span class="font-weight-light"></span>
                </h3>
                <div>
                  <i class="ni education_hat mr-2"></i>{{result.firstname ~ ' ' ~ result.lastname}}
                </div>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{result.city}}, {{result.country}}
                </div>
                <hr class="my-4" />
                <p>{{(result.about)?result.about:'Please write a few words about you...'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
          <form method="post">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-2 text-right">
                  <select name="role" class="form-control">
                    {% for optrole in option_role %}
                      <option value="{{optrole}}" {{ (result.role == optrole )?'selected':'' }}>{{optrole}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-2 text-right">
                  <select name="status" class="form-control">
                    {% for optstatus in option_status %}
                      <option value="{{optstatus}}" {{ (result.status == optstatus )?'selected':'' }}>{{optstatus}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body">
          
              {% if status == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="ni ni-check-bold"></i></span>
                <span class="alert-inner--text"><strong>Success!</strong> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% elseif status == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fas fa-exclamation-triangle"></i></span>
                <span class="alert-inner--text"><strong>Failed!</strong> {{ message }}
                {% if not problem is empty %}
                  <br>Problem:<br>{{problem}}
                {% endif %}
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}

              
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input name="username" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{result.username}}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <div id="g-email" class="form-group">  
                        <input id="i-email" name="email" type="email" id="input-email" class="form-control form-control-alternative" placeholder="youremail@example.com" value="{{result.email}}">
                        <div class="text-muted font-italic"><small><span class="text-danger font-weight-700" id="checkemail"></span></small></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input name="firstname" type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{result.firstname}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input name="lastname" type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{result.lastname}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input name="address" id="input-address" class="form-control form-control-alternative" placeholder="Home Address" type="text" value="{{result.address}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input name="city" type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{result.city}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input name="country" type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="{{result.country}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-postal-code">Postal code</label>
                        <input name="postal" type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" value="{{result.postal}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-avatar">Avatar</label>
                    <input name="avatar" id="input-avatar" class="form-control form-control-alternative" placeholder="Put URL image for your avatar here..." type="text" value="{{result.avatar}}">
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="input-background">Background Image</label>
                    <input name="background_image" id="input-background" class="form-control form-control-alternative" placeholder="Put URL image for your background here..." type="text" value="{{result.background_image}}">
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="input-about-me">About Me</label>
                    <textarea name="about" id="input-about-me" rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">{{result.about}}</textarea>
                  </div>
                </div>
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                <hr>
                <button type="submit" class="btn btn-info btn-block">Update Profile</button>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block appjs %}
  getScript('{{ site_url ~ path_for('/') }}assets/js/argon.js?v={{ global.app.version }}');
  $('#i-email').keyup($$app.throttle(function(){
    $('#g-email').removeClass('has-danger has-success');
    $('#i-email').removeClass('is-invalid is-valid');
    $('#checkemail').removeClass('text-danger text-success');
    $('#checkemail').html('');
    if($$validate.isNotEmpty($('#i-email').val())){
      if ($('#i-email').val().toLowerCase() != '{{ result.email }}'.toLowerCase()){
        if(!$$validate.isEmail($('#i-email').val())){
          $('#g-email').addClass('has-danger');
          $('#i-email').addClass('is-valid');
          $('#checkemail').addClass('text-danger');
          $('#checkemail').html('Email address is invalid!');
        } else {
          $.ajax({
            url: "{{ site_url ~ path_for('/') }}user/verify/email",
            data: {email:$('#i-email').val()},
            dataType: "json",
            type: "post",
            success: function(data) {
              if (data.status == "success"){
                $('#g-email').addClass('has-success');
                $('#i-email').addClass('is-valid');
                $('#checkemail').addClass('text-success');
              } else {
                $('#g-email').addClass('has-danger');
                $('#i-email').addClass('is-invalid');
                $('#checkemail').addClass('text-danger');
              }
              $('#checkemail').html(data.message);
            },
            error: function(x, e) {
              if($$validate.isJson(x.responseText)){
                var obj = JSON.parse(x.responseText);
                console.log(obj.message);
              } else {
                console.log(x.responseText);
              }
            }
          });
        }
      }
    }
  },1000));
{% endblock %}