{% extends "layout-base.twig" %}
{% block head %}
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>User Authorization - Free Dashboard for Bootstrap 4</title>
{% endblock %}
{% block usermenuleft %}
  <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{ ((avatar)? avatar: site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <a href="{{ site_url ~ path_for('/my-profile') }}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="{{ site_url ~ path_for('/change-password') }}" class="dropdown-item">
              <i class="fas fa-key"></i>
              <span>Change Password</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ site_url ~ path_for('/logout') }}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
{% endblock %}
{% block usermenuright %}
  <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{ ((avatar)? avatar: site_url ~ path_for('/') ~ 'assets/img/theme/face-0.jpg') }}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{username}}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <a href="{{ site_url ~ path_for('/my-profile') }}" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="{{ site_url ~ path_for('/change-password') }}" class="dropdown-item">
                <i class="fas fa-key"></i>
                <span>Change Password</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="{{ site_url ~ path_for('/logout') }}" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
{% endblock %}
{% block menu %}
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/icons.html">
              <i class="ni ni-planet text-blue"></i> Icons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/maps.html">
              <i class="ni ni-pin-3 text-orange"></i> Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/profile.html">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/tables.html">
              <i class="ni ni-bullet-list-67 text-red"></i> Tables
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/login.html">
              <i class="ni ni-key-25 text-info"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/register.html">
              <i class="ni ni-circle-08 text-pink"></i> Register
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">Documentation</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html">
              <i class="ni ni-spaceship"></i> Getting started
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html">
              <i class="ni ni-palette"></i> Foundation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html">
              <i class="ni ni-ui-04"></i> Components
            </a>
          </li>
        </ul>
{% endblock %}
{% block main_title %}
  <!-- Brand -->
  <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{{currentPath}}">User Authorization</a>
{% endblock %}
{% block content_body %}
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Authorization Manager</h3>
            </div>
            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addNewData">Add New</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table id="datatable" class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" width="5%"></th>
                <th scope="col">Pattern</th>
                <th scope="col">Method</th>
              </tr>
            </thead>
            <tbody>
              {% for i in result %}
              <tr id="datatablerow{{ loop.index }}">
                <td>
                  <a href="javascript:void(0)" onclick="deleterow('#datatablerow{{ loop.index }}')"><i class="fas fa-times text-danger"></i></a>
                </td>
                <td>{{ i.pattern|trim }}</td>
                <td>{% for m in i.method %}{{ m }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <hr>
          <button type="button" class="btn btn-info btn-block">Save Changes</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNewData" tabindex="-1" role="dialog" aria-labelledby="addNewDataLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addNewDataLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="form-control-label" for="select-pattern">Pattern</label>
                  <select name="pattern" id="select-pattern" class="form-control">
                    {% for optpattern in option.result %}
                      <option value="{{optpattern}}">{{optpattern}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="checkall" type="checkbox">
                  <label class="custom-control-label" for="checkall">Check All</label>
                </div>
                <div class="row col-12">
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkget" name="options[]" type="checkbox" value="GET">
                    <label class="custom-control-label" for="checkget">GET</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkpost" name="options[]" type="checkbox" value="POST">
                    <label class="custom-control-label" for="checkpost">POST</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkput" name="options[]" type="checkbox" value="PUT">
                    <label class="custom-control-label" for="checkput">PUT</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkdelete" name="options[]" type="checkbox" value="DELETE">
                    <label class="custom-control-label" for="checkdelete">DELETE</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkhead" name="options[]" type="checkbox" value="HEAD">
                    <label class="custom-control-label" for="checkhead">HEAD</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkpatch" name="options[]" type="checkbox" value="PATCH">
                    <label class="custom-control-label" for="checkpatch">PATCH</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3 mr-3">
                    <input class="custom-control-input" id="checkoptions" name="options[]" type="checkbox" value="OPTIONS">
                    <label class="custom-control-label" for="checkoptions">OPTIONS</label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="addnew()" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
{% block preloadjs %}
  var no = {{ result|length }};
  function addnew(){
    var pp = $("#select-pattern").find(":selected").text();
    var dup = false;
    $("#datatable tr td").each(function(){
      var texttocheck = $(this).html();
      if(texttocheck == pp){
        dup = true;
      }
    });
    if(dup==false){
      var checked = [];
      $("input[name='options[]']:checked").each(function () {
        checked.push($(this).val());
      });
      no++;
      $("#datatable").find('tbody').append(
        $('<tr id="datatablerow'+no+'">').append(
          $('<td>').append('<a href="javascript:void(0)" onclick="deleterow(\'#datatablerow'+no+'\')"><i class="fas fa-times text-danger"></i></a>'),
          $('<td>').append(pp),
          $('<td>').append(checked.join(", "))
        )
      );
    }
  }
  function deleterow(id){
    $(id).remove();
  }
  function save(){
    
  }
{% endblock %}
{% block appjs %}
  getScript('{{ site_url ~ path_for('/') }}assets/js/argon.js?v={{ global.app.version }}');
  $("#checkall").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
{% endblock %}